html{
    background-color: black;
    color: white;
}
h1{
    text-align: center;
    margin: 0 auto;
}
h3{
    margin-left: 100px;
}
nav p{
    
    margin: 0 auto;
    display: inline-block;
    margin: 10px;
    background-color: white;
/*    color: black;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 80px;
    height: 20px;
    transition: all ease-in-out 0.8s;
}
nav a{
    color: black;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    transition: all ease-in-out 0.7s;
}
nav a:hover{
    color: white;
}
nav p:hover{
    color: white;
    background-color: black;
    /*border: 1px solid white;*/
}
.secto{
    background-color: rgb(140, 116, 72);
    border-radius: 200px;
}
article{
    margin-left: 100px;
    margin-right: 100px;
    border: solid white;
    width: 1270px;
}
/*footer*/
.pie{
    /*border: 1px solid #095;
    background-color: white;*/
    border: 1px solid white;
    width: 95%;
    height: 1px;
    margin: 0 auto;
}
.sec{
    background-color: black;
    width: 317px;
    float: left;
    /*margin: 0 auto;*/
}
h5{
    font-style: italic;
}
.sec a{

    color: white;
    text-decoration: none;
    display: block;
    padding: 4px;
    width: 100px;
    
}
.sec a:hover{
    transition: all ease-in-out 0.9s;
    border-bottom: 1px solid white;
}
.sec2{

    color: white;
    text-decoration: none;
    background-color: black;
}

.icon{
    width: 40px;
    height: 40px;
    margin: auto;
    padding: 5px;
    transition: all ease-in-out 0.7s;
}
.icon:hover{
    transform: rotate(360deg);
}